<h1>
    Formulario para cadastrar postagens
</h1>

<form action="/cadastrarPostagem" method="POST">
    <p>Titulo</p>
    <input type="text" name="titulo" id="">
    <p>Conteudo</p>
    <textarea name="conteudo" id=""></textarea>
    <br>
    <br>
    <button type="submit">cadastrar</button>
</form>